<form connect="list$ | async">
<div class="heading">
<div class="row">
   <div class="block mx-auto">
    <button *ngIf="!(list$ | async).expanded"
            class="btn btn-default" 
            title="Expand All" 
            (click)="listActions.expandAll()">Expand All
    </button>
    <button *ngIf="(list$ | async).expanded"
            class="btn btn-default" 
            title="Collapse All" 
            (click)="listActions.collapseAll()">Collapse All
    </button>
    <button *ngIf="!(list$ | async).editable"
          class="btn btn-default" 
          title="Arrange rebuttals from strongest to weakest and click this when you are done" 
          (click)="listActions.toggleEditable()" >
          Contribute Mode
   </button>
   <button *ngIf="(list$ | async).editable && (list$ | async).isTouched()"
          class="btn btn-default touched" 
          title="Save changes" 
          (click)="listActions.saveAll()">
          Save Changes 
   </button>
   <button *ngIf="(list$ | async).editable && !(list$ | async).isTouched()" 
          class="btn btn-default" 
          title="Read only mode" 
          (click)="listActions.toggleEditable()">
          Read-Only Mode 
   </button>
    <button *ngIf="(list$ | async).editable" 
            class="btn btn-default" 
            title="Add a new objection" 
            (click)="listActions.addObjection()">
            Add Objection
    </button>
   </div>
</div>
</div><br><br><br><br>
<ul id="objection-list" [sortablejs]="objections$ | async" [sortablejsOptions]="options">
<template connectArray let-objection connectArrayOf="objections$ | async">
<li [ngModelGroup]="objection">
   <list-objection 
   [list]="list$ | async"
   [objection]="objection"

   (addObjection)="listActions.addObjection()" 
   (reorderObjections)="listActions.reorderObjections()" 
   (toggleEditable)="listActions.toggleEditable()" 

   (addRebuttal)="listActions.addRebuttal($event)" 
   (starObjection)="listActions.starObjection($event)" 
   (toggleRebuttals)="listActions.toggleRebuttals($event)" 
   (reorderRebuttals)="listActions.reorderRebuttals($event)" 

   (cancelRebuttal)="listActions.cancelRebuttal($event)"
   (saveRebuttal)="listActions.saveRebuttal($event)"
   (makeRebuttalEditable)="listActions.makeRebuttalEditable($event)"
   ></list-objection>
</li>
</template>
</ul>

<br><br><br><br><br><br><br><br><br><br><br>

</form>
Unaffiliated with any campaign. Made by volunteers with optimism for a better future